body{
    background-color: rgb(255, 255, 255);
    width: 1000px;
    margin: auto;
    

}
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.siteheader{
    background-color: darkorchid;
    height: 70px;
    
}
.sitemain{
    background-color: rgb(198, 198, 61);
    height:300px;
    margin-top:1rem ;
    margin-bottom:1rem;
    
}
.contain{
    display: inline-block;
    width: 100%;
    
}

.top{
    background-color: rgb(131, 205, 241);
    height:50px;
    
}
.left{
    background-color: rgb(131, 205, 241);
    height: 500px;
    width: 23%;
    float: left;
}
.midle{
    background-color: rgb(131, 205, 241);
    height: 500px;
    width: 42%;
    float: right;
}
.rigth{
    background-color: rgb(131, 205, 241);
    height: 500px;
    width: 23%;
    float: right;
}
.bottom{
    background-color: rgb(201, 131, 241);
    height:50px;
    margin-top; 3px; 
    margin-right:1rem;
    margin-left:1rem;
}



